/*The following is all general style for the game board*/

body {
  color: white;
  background: #3F51B5;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  font-size: 1.5em;
  font-family: sans-serif;
  width: 90%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.header-title {
  font-weight: normal;
  text-align: center;
  font-size: 5em;
}

.header-timer {
  float: right;
}

.grid {
  width: 80%;
  height: 0;
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #7986CB;
  padding-bottom:100%;
  border-radius: .75em;
}

.click {
  position: absolute;
  opacity: 0;
}

.grid-row {
  position: relative;
  text-align: justify;
  padding-bottom: 15%;
}

.grid-cell {
  position: relative;
  display: inline-block;
  width: 16%;
}

.grid-cell:after {
  content: "";
  width: 100%;
  display: inline-block;
}

/*The following will allow for 'player input'*/

.card:after {
  font-family: sans-serif;
  font-style: bold;
  font-size: 3em;
  margin-left: -.35em;
  margin-top: -.35em;
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
}

.click:checked + .card:after {
  visibility: visible;
}
