.modal-greyout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 128, 128, .75);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}

.failure-greyout {
  background: rgba(178, 34, 34, .75);
}

.modal-actual {
  box-sizing: border-box;
  width: 500px;
  height: 410px;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, .85);
  border-radius: 1em;
  padding: .5em;
}

.fail-actual {
  background: rgba(0, 0, 0, .75);
}

.victory {
  font-weight: normal;
  font-size: 5em;
  color: teal;
}

.failure {
  color: firebrick;
  margin-top: 1em;
  margin-bottom: .5em;
}

.best-times {
  text-align: center;
  margin: auto;
  margin-top: 1em;
  width: 100%;
  margin-bottom: 2em;
  list-style-type: none;
}

.bt-label {
  color: teal;
}

.best-time {
  font-family: monospace;
  font-size: 1.5em;
  color: teal;
}

.time-elem {
  font-size: 1.5em;
  color: teal;
}

.modal-button {
  cursor: pointer;
  margin: .5em;
  padding: .25em;
  font-size: 2em;
  background: teal;
  color: white;
  text-decoration: none;
  border-radius: .25em;
  -webkit-transition: all .1s;
}

.modal-button:hover {
  background: teal;
  color: white;
}

.fail-button {
  background: rgba(255, 255, 255, .85);
  color: firebrick;
}

.fail-button:hover {
  background: firebrick;
  color: white;
}

.got-top-time {
  color: teal;
  font-weight: normal;
}

.got-top-time-sub {
  font-weight: normal;
  color: teal;
  margin-top: 1em;
}

.initials {
  display: block;
  color: teal;
  text-transform: uppercase;
  margin: .15em auto .6em;
  text-align: center;
  width: 4em;
  font-size: 5em;
  font-family: monospace;
  background: none;
  border: 1px solid rgba(0, 0, 0, .25);
}

.initials:focus {
  outline: none;
}

.initials-submit {
  color: white;
  font-size: 1.5em;
  padding: .35em;
  border-radius: .15em;
  background: teal;
  border: none;
  cursor: pointer;
}

.initials-submit:focus {
  outline: none;
}



.modal-visible {
  visibility: visible;
  opacity: 1;
}
