.modal-greyout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 139, 87, .75);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}

.failure-greyout {
  background: rgba(178, 34, 34, .75);
}

.modal-actual {
  box-sizing: border-box;
  width: 410;
  height: 410px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -205px;
  margin-top: -205px;
  text-align: center;
  background: rgba(255, 255, 255, .85);
  border-radius: 1em;
  padding: .5em;
  -webkit-animation: pulse 7.5s ease-in-out infinite;
}

.fail-actual {
  background: rgba(0, 0, 0, .75);
}

.victory {
  font-weight: normal;
  font-size: 5em;
  color: seagreen;
}

.failure {
  color: firebrick;
  margin-top: 1em;
  margin-bottom: .5em;
}

.best-times {
  text-align: center;
  margin: auto;
  margin-top: .5em;
  width: 100%;
  margin-bottom: 1.75em;
  list-style-type: none;
}

.bt-label {
  color: seagreen;
  margin-top: -.3em;
}

.best-time {
  font-family: monospace;
  font-size: 1.5em;
  color: slategrey;
}

.time-elem {
  font-size: 1.5em;
  color: slategrey;
}

.modal-button {
  cursor: pointer;
  margin: .5em;
  padding: .25em;
  font-size: 2em;
  background: none;
  color: seagreen;
  border: 2px solid seagreen;
  text-decoration: none;
  border-radius: .25em;
  -webkit-transition: all .1s;
}

.modal-button:hover {
  background: white;
}

.fail-button {
  background: none;
  color: firebrick;
  border: 2px solid firebrick;
}

.fail-button:hover {
  background: black;
}

.got-top-time {
  color: seagreen;
  font-weight: normal;
}

.got-top-time-sub {
  font-weight: normal;
  color: seagreen;
  margin-top: 1em;
}

.initials {
  display: block;
  color: seagreen;
  text-transform: uppercase;
  margin: .15em auto .25em;
  text-align: center;
  width: 4em;
  font-size: 5em;
  font-family: monospace;
  background: none;
  border: none;
}

.initials:focus {
  outline: none;
}

.initials-submit {
  color: seagreen;
  font-size: 1.5em;
  padding: .35em;
  border-radius: .15em;
  background: none;
  border: 2px solid seagreen;
  cursor: pointer;
  transition: all .2s;
}

.initials-submit:focus {
  outline: none;
}

.initials-submit:hover {
  background: white;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
}
