/*resetting some default styles*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

/*some very basic style rules for the body of the page*/
body {
  font-family: avenir, open-sans, arial, sans-serif;
  background: #455882;
  margin-left: auto;
  margin-right: auto;
}

/*adding the font that contains the icons for the game cards and logo*/
@font-face {
  font-family: "memoryicons";
  src: url(../fonts/memoryicons.ttf);
}

@font-face {
  font-family: "hardicons";
  src: url(../fonts/hard-font.ttf);
}

.main-content {
  width: 100%;
  height: 100%;
}

.game-info {
  position: relative;
  -webkit-animation: fadein 3s;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1280px;
  font-size: 1.5em;
  height: 1px;
}

.header-title {
  -webkit-animation: fadein 3s;
  text-align: center;
  font-weight: normal;
  font-size: 6em;
  letter-spacing: 5px;
  padding: .3em;
}

/*making the o in memory an icon and sizing it correctly*/
.title-o {
  -webkit-animation: pulse 7.5s ease-in-out infinite;
  color: #edd097;
  font-family: memoryicons;
  font-size: .6em;
}

.life {
  position: relative;
  display: inline-block;
  font-family: memoryicons;
  letter-spacing: 5px;
  vertical-align: top;
}

.heart {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  font-family: memoryicons;
  letter-spacing: 5px;
  -webkit-transition: all .75s;
}

.broken {
  font-size: 3em;
  color: red;
  opacity: 0;
  margin-left: -.3em;
  visibility: hidden;
}

.game-timer {
  position: absolute;
  left: 100%;
  -webkit-transform: translate(-200%, -45%);
  display: inline-block;
  margin-bottom: 16px;
}

.game-board {
  position: relative;
  text-align: justify;
  margin: auto;
  padding: 2em;
  max-width: 80em;
}

.game-card {
  position: relative;
  display: inline-block;
  float: left;
  width: 16.6%;
  padding-top: 16.6%;
  color: #447f78;
}

.ungot:hover {
  cursor: pointer;
}

.guess:hover {
  cursor: default;
}

.game-card__shape {
  -webkit-backface-visibility: visible;
  -webkit-animation: flip .5s;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: .5em;
  background: #edd097;
}

.game-card__decoration {
  -webkit-animation: iconout 1s;
  color: #455882;
  font-family: memoryicons;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 50px;
  opacity: 0;
}

.correct-animation {
  -webkit-animation: correct ease-in-out .65s;
  opacity: 1;
}

/*makes icons appear when cards are clicked/flipped*/
.deco-flip {
  -webkit-animation: iconin 1s;
  opacity: 1;
}

/*makes cards flip when clicked*/
.card-flip {
  -webkit-backface-visibility: visible;
  -webkit-animation: flip2 .5s;
}

.hard-board {
  background: black;
}

.hard-card {
  background: white;
}

.hard-shape {
  color: red;
}

.hard-dec {
  color: black;
}

.hard-o {
  color: red;
  font-family: hardicons
}

/*-----------------------------*/
/*HERE BE ANIMATION DEFINITIONS*/
/*-----------------------------*/


/*this makes the title elements fade in on game start*/
@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*this makes the icons appear on the cards*/
@-webkit-keyframes iconin {
  0% {opacity: 0;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  100% {opacity: 1;}
}

/*this makes icons disappear from cards*/
@-webkit-keyframes iconout {
  0% {opacity: 1;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  100% {opacity: 0;}
}

/*this is the initial flip animation for the cards*/
@-webkit-keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform:  translate3d(0, 0, 150px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }
}

/*for some reason i couldn't reuse the above animation
so I just copied it and called it flip2*/
@-webkit-keyframes flip2 {
  0% {
    transform: rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform:  translate3d(0, 0, 150px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes correct {
  0% {
    /*animation-timing-function: ease-out;*/
  }

  50% {
    color: inherit;
    font-size: 75px;
    /*animation-timing-function: ease-in;*/
  }

  100% {
    color: #455882;
    font-size: 50px;
  }
}

/*-------------------------*/
/*END ANIMATION DEFINITIONS*/
/*-------------------------*/

/*This is to make the page responsize*/
/*Interesting to note, when I had this rule above the animation
definitions, none of them worked. go figure*/
@media (max-width: 720px) {
  .game-card {
  width: 33.3%;
  padding-top: 33.3%;
  }
