/*resetting some default styles*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

/*some very basic style rules for the body of the page*/
body {
  font-family: avenir, open-sans, arial, sans-serif;
  background: #455882;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

/*adding the font that contains the icons for the game cards and logo*/
@font-face {
  font-family: "memoryicons";
  src: url(../fonts/memoryicons.ttf);
}

.game-info {
  -webkit-animation: fadein 3s;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.5em;
}

.header-title {
  -webkit-animation: fadein 3s;
  text-align: center;
  font-weight: normal;
  font-size: 6em;
  letter-spacing: 5px;
  padding: .3em;
}

/*making the o in memory an icon and sizing it correctly*/
.title-o {
  color: #edd097;
  font-family: memoryicons;
  font-size: .6em;
  }

.game-life {
  font-family: memoryicons;
  letter-spacing: 5px;
}

.game-timer {
  float: right;
}

.game-board {
  position: relative;
  text-align: justify;
  padding: 2em;
}

.game-card {
  position: relative;
  display: inline-block;
  float: left;
  width: 16.6%;
  padding-top: 16.6%;
}

.game-card__checkbox {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.game-card__shape {
  -webkit-backface-visibility: visible;
  -webkit-animation: flip 1s;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: .5em;
  background: #edd097;
}

.game-card__decoration {
  -webkit-animation: iconout 1s;
  color: #455882;
  font-family: memoryicons;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  font-size: 50px;
  opacity: 0;
}

/*makes icons appear when cards are clicked/flipped*/
.game-card__checkbox:checked ~ .game-card__decoration {
  -webkit-animation: iconin 1s;
  opacity: 1;
}

/*makes cards flip when clicked*/
.game-card__checkbox:checked + .game-card__shape {
  -webkit-backface-visibility: visible;
  -webkit-animation: flip2 1s;
}

/*-----------------------------*/
/*HERE BE ANIMATION DEFINITIONS*/
/*-----------------------------*/


/*this makes the title elements fade in on game start*/
@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*this makes the icons appear on the cards*/
@-webkit-keyframes iconin {
  0% {opacity: 0;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  100% {opacity: 1;}
}

/*this makes icons disappear from cards*/
@-webkit-keyframes iconout {
  0% {opacity: 1;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  100% {opacity: 0;}
}

/*this is the initial flip animation for the cards*/
@-webkit-keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform:  translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
}

/*for some reason i couldn't reuse the above animation
so I just copied it and called it flip2*/
@-webkit-keyframes flip2 {
  0% {
    transform: rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform:  translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
}

/*-------------------------*/
/*END ANIMATION DEFINITIONS*/
/*-------------------------*/

/*This is to make the page responsize*/
/*Interesting to note, when I had this rule above the animation
definitions, none of them worked. go figure*/
@media (max-width: 720px) {
  .game-card {
  width: 33.3%;
  padding-top: 33.3%;
  }
