/*resetting some default styles*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #2F7D8E;
  font-family: avenir, arial, sans-serif;
  width: 100%;
}

@font-face {
  font-family: "memoryicons";
  src: url(../fonts/memoryicons.ttf);
}

.main-content {
  width: 100%;
  height: 100%;
}

.title-box {
  -webkit-animation: pulse 8.5s ease-in-out infinite;
  width: 400px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 15%;
}

.title-text {
  font-weight: normal;
  font-size: 5em;
  margin-bottom: -.25em;;
}

.icon {
  font-family: memoryicons;
  font-size: .7em;
  color: #edd097;
  transition: all 20s;
}

.subtitle {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: .5em;
}

.link {
  box-sizing: border-box;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-decoration: none;
  font-size: 25px;
  border-radius: .5em;
  background: #edd097;
  padding: .5em;
  margin-top: 4px;
  padding-top: 45px;
  -webkit-transition: all .15s;
  color: #455882;
  cursor: pointer;
}

.link-wrapper {
  width: 300px;
  text-align: center;
  margin: auto;
}

.link:hover {
  background: #ffdfa5;
  color: #455882;
}

.icon:hover {
  opacity: 0;
}

@-webkit-keyframes pulse  {
  0%    { -webkit-transform:  scale(1, 1);}
  50%   { -webkit-transform:  scale(1.1, 1.1);}
  100%  { -webkit-transform:  scale(1, 1);}
}

/*@-webkit-keyframes wobble  {
  0%    { -webkit-transform:  rotate(0deg);}
  33%   { -webkit-transform:  rotate(5deg);}
  66%   { -webkit-transform:  rotate(-5deg);}
  100%  { -webkit-transform:  rotate(0deg);}
}*/
