/*resetting some default styles*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #2F7D8E;
  font-family: avenir, arial, sans-serif;
}

@font-face {
  font-family: "memoryicons";
  src: url(../fonts/memoryicons.ttf);
}

.title-box {
  -webkit-animation: wobble 10s ease-in-out infinite;
  width: 400px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -175px;
}

.title-text {
  font-weight: normal;
  font-size: 5em;
}

.icon {
  font-family: memoryicons;
  font-size: .7em;
}

.subtitle {
  font-weight: normal;
  font-size: 2em;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid white;
  padding: .5em;
  margin-top: .5em;
}

.link:hover {
  background: white;
  color: #2F7D8E;
}

.easy {
  /*-webkit-perspective: 250px;*/
  transform: perspective(250px);
}

.hard {
}

@-webkit-keyframes wobble  {
  0%    { -webkit-transform:  rotate(0deg); }
  33%   { -webkit-transform:  rotate(5deg); }
  66%   { -webkit-transform:  rotate(-5deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
